
html {
    margin:0;
    width:100%;
    height:100%;
}

body{
    margin:0;
    width:100%;
    height:100%;
    display:block;
}

#menuBar{
    position:sticky;
    top:0;
    width:100%;
    height:10%;
    background-image: url("./Media/site/menu_bar.png");
}

#connid{
    position:absolute;
    width:auto;
    height:auto;
    border : 5% 5% 5% 5% solid white;
    background-color: rgb(255, 241, 162);
    bottom:13%;
    left:1%;
}

#signin{
    position:absolute;
    width:auto;
    height:auto;
    border : 5% 5% 5% 5% solid white;
    background-color: rgb(255, 241, 162);
    bottom:3%;
    left:1%;
}